@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body[data-scroll-locked] {
  margin-right: 0px !important;
}
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

::-webkit-scrollbar-thumb {
  background-color: #f5abb9;
  border-radius: 0.25rem;
}
