@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
}

body[data-scroll-locked] {
	margin-right: 0px !important;
}
::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.25rem;
	z-index: 999;
}

::-webkit-scrollbar-track {
	--bg-opacity: 1;
	background-color: #f7fafc;
	background-color: rgba(247, 250, 252, var(--bg-opacity));
}

::-webkit-scrollbar-thumb {
	background-color: #f5abb9;
	border-radius: 0.25rem;
}

@layer components {
	.page-size-box {
		@apply cursor-pointer border-2 hover:bg-gray-100 
        flex items-center justify-center rounded-lg 
        shadow-sm min-w-[36px] w-9 h-9 text-sm;
	}
}
